# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*
!.env.example
!frontend/.env.local.example

# firebase credentials
backend/firebase-key.json
!backend/firebase-key.example.json

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/backend/__pycache__
/frontend/node_modules
/venv
/frontend/.next
/tests/__pycache__/
*.pyc
/apk
/frontend/out
backend/firebase-key.example.json
